# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Django ----
*.sqlite3
db.sqlite3
/media/
staticfiles/
local_settings.py

# ---- Virtual Environment ----
venv/
env/

# ---- IDE and System Files ----
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# ---- Environment Variables ----
.env
